body{font-weight: 600;
    font-size: 35px;
background-color: cadetblue;}
.navbar{    display: flex;
flex-direction: row;
background-color: blueviolet;}
.body{background-color: cadetblue;}
.footer{background-color:cyan}

body {display: flexbox;}
.nav {list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background: transparent;
    position: relative;
    height: auto;
} 
.link {display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    float: none;}
#title{text-align: center;}

.dark-theme {
    background-color: #333333;
    color: whitesmoke;
}

.light-theme {
    background-color: whitesmoke;
    color: #333333;
}