* {box-sizing: border-box
    font-size 0px; }

.container{display:flex;
 
        justify-content: space-around;
        border: solid gray;
        border-radius: 15px;
        padding: 50px;
        margin: 125px;
        }


.input{margin: 15px;
    border-radius: 5px;}

.area{align-content: center;}



